﻿<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="site/assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="site/assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>ISOFH APPLICATION</title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <!-- Bootstrap core CSS     -->
    <link href="site/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="site/assets/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="site/assets/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.2.0/angularfire.min.js"></script>
</head>
<body>
    <div class="wrapper" ng-app="myApp" ng-controller="myCtrl">
        <div class="sidebar" data-color="purple" data-image="site/assets/img/sidebar-1.jpg">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

            Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="#" class="simple-text">
                    ISOFH APPLICATION
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="{{state==1?'active':''}}">
                        <a href="javascript:void(0)" ng-click="listBuild()">
                            <i class="material-icons" style="vertical-align: top;">dashboard</i>
                            <p>DANH SÁCH BUILD</p>
                        </a>
                    </li>
                    <li class="{{state==2?'active':''}}">
                        <a href="javascript:void(0)" ng-click="mgrApp()">
                            <i class="material-icons" style="vertical-align: top;">person</i>
                            <p>QUẢN LÝ APP</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid" ng-if="state==1">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6" ng-repeat="item in data" ng-if="!appId || appId==item.id">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="orange">
                                    <i class="material-icons" style="vertical-align: top;">dashboard</i>
                                </div>
                                <div class="card-content">
                                    <h3 class="title">
									<a href='?id={{item.id}}'>
                                        {{item.name}}
										</a>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats" style="padding: 5px" ng-repeat="item2 in getBuild(item.builds)">
                                        <a ng-if="item2.isActive" href="{{item2.url}}" target="_blank" class="btn btn-block {{getClass(item2)}}">
										<i class="fa fa-android" style="margin-right: 2px" ng-if="item2.type && item2.type.id==1"></i>
										<i class="fa fa-apple" style="margin-right: 2px" ng-if="item2.type && item2.type.id==2"></i>
										<i class="fa fa-unlink" style="margin-right: 2px" ng-if="item2.type && item2.type.id==3"></i>
										<i class="fa fa-puzzle-piece" style="margin-right: 2px" ng-if="item2.type && item2.type.id==4"></i>
										{{item2.name}}
										<div class="ripple-container"></div></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container-fluid" ng-if="state==2">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title" style="font-weight: bold; text-transform: uppercase">DANH SÁCH APP</h4>
                                </div>
                                <div class="card-content" style="min-height: 400px;">
                                    <div class="clearfix">
                                        <button type="button" class="btn btn-primary pull-right" ng-click="showModalAddApp()">THÊM APP</button>
                                    </div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="text-center" style="width: 50px;">#</th>
                                            <th class="text-center">Tên app</th>
                                            <th style="width: 200px" class="text-center"></th>
                                        </tr>
                                        <tr ng-repeat="x in data">
                                            <td class="text-center">
                                                {{$index + 1}}
                                            </td>
                                            <td>
                                                {{x.name}}
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-behance btn-xs" ng-click="editApp(x)" title="Sửa app này"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-behance btn-xs" title="Xóa app này" ng-click="deleteApp(x.id);"><i class="fa fa-times"></i></a>
                                                <a class="btn btn-behance btn-xs" ng-click="viewApp(x)" title="Xem chi tiết"><i class="fa fa-list"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-hide="data.length>0">
                                            <td colspan="7" class="text-center">KHÔNG TÌM THẤY ỨNG DỤNG NÀO</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid" ng-if="state==3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header" data-background-color="purple">
                                    <h4 class="title" style="font-weight: bold; text-transform: uppercase">DANH SÁCH BUILD - {{app.name}}</h4>
                                </div>
                                <div class="card-content" style="min-height: 400px;">
                                    <div class="clearfix">
                                        <button type="button" class="btn btn-primary pull-right" ng-click="showModalAddBuild()">THÊM BUILD</button>
                                    </div>
                                    <table class="table table-bordered">
                                        <tr>
                                            <th class="text-center" style="width: 50px;">#</th>
                                            <th class="text-center" style="width: 200px;">Build</th>
                                            <th class="text-center">Liên kết</th>
                                            <th class="text-center" style="width: 120px;">Ngày cập nhật</th>
                                            <th class="text-center" style="width: 100px;">Active</th>
                                            <th style="width: 200px" class="text-center"></th>
                                        </tr>
                                        <tr ng-repeat="x in listBuilds  | orderBy:'-name'">
                                            <td class="text-center">
                                                {{$index + 1}}
                                            </td>
                                            <td>
                                                {{x.name}}
                                            </td>
                                            <td>
                                                <a href="{{x.url}}" title="Nhấn để xem">{{x.url}}</a>
                                            </td>
                                            <td style="text-align: center">
                                                {{toDate(x.updatedDate)}}
                                            </td>
                                            <td style="text-align: center">
                                                {{x.isActive}}
                                            </td>
                                            <td class="text-center">
                                                <a class="btn btn-behance btn-xs" ng-click="editBuild(x)" title="Sửa build này"><i class="fa fa-edit"></i></a>
                                                <a class="btn btn-behance btn-xs" title="Xóa build này" ng-click="deleteBuild(x.id);"><i class="fa fa-times"></i></a>
                                            </td>
                                        </tr>
                                        <tr ng-hide="data.length>0">
                                            <td colspan="7" class="text-center">KHÔNG TÌM THẤY BUILD NÀO</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="modal fade" id="modal-add-app" data-backdrop="static" role="dialog">
                        <div class="modal-dialog" role="document" style="min-width: 200px;">
                            <div class="modal-content padding-10">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">THÊM APP</h4>
                                </div>
                                <hr class="simple" style="margin-bottom: 0px;" />
                                <form style="padding: 10px;" id="form-add-app">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Tên App</label>
                                                <input type="text" name="name" id="txtName" ng-model="temp_model.name" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <footer>
                                        <button type="button" class="btn btn-primary pull-right" ng-click="createApp()">Lưu</button>
                                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Hủy</button>
                                    </footer>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="modal fade" id="modal-add-build" data-backdrop="static" role="dialog">
                        <div class="modal-dialog" role="document" style="min-width: 200px;">
                            <div class="modal-content padding-10">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">THÊM BUILD - APP: {{app.name}}</h4>
                                </div>
                                <hr class="simple" style="margin-bottom: 0px;" />
                                <form style="padding: 10px;" id="form-add-build">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Tên Build</label>
                                                <input type="text" name="name" id="txtName" ng-model="temp_model.name" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group label-floating is-empty">
                                                <label class="control-label">Liên kết</label>
                                                <input type="text" name="url" id="txtUrl" ng-model="temp_model.url" class="form-control">
                                                <span class="material-input"></span>
                                            </div>
                                        </div>
                                    </div> 

									<div class="row">
                                        <div class="col-md-12">
											<label style="margin-right: 10; width: 100px">Loại</label>
											<select ng-options="item as item.label for item in buildType track by item.id" ng-model="temp_model.type" name="type"></select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
											<label style="margin-right: 10; width: 100px">Active</label>
                                            <a class="btn btn-behance btn-xs" ng-click="temp_model.isActive=!temp_model.isActive" title="{{temp_model.isActive?'Hủy active':'Active'}} app này" style="padding: 3px">
                                                <i class="fa fa-check" ng-if="temp_model.isActive"></i>
                                                <i class="fa" style="width: 18px; height: 15px" ng-if="!temp_model.isActive"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <footer>
                                        <button type="button" class="btn btn-primary pull-right" ng-click="createBuild()">Lưu</button>
                                        <button type="button" data-dismiss="modal" class="btn btn-default pull-right">Hủy</button>
                                    </footer>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <script src="site/assets/js/jquery-3.2.1.min.js"></script>
    <script src="site/assets/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="site/assets/js/material.min.js" type="text/javascript"></script>
    <!--  Charts Plugin -->
    <script src="site/assets/js/chartist.min.js"></script>
    <!--  Dynamic Elements plugin -->
    <script src="site/assets/js/arrive.min.js"></script>
    <!--  PerfectScrollbar Library -->
    <script src="site/assets/js/perfect-scrollbar.jquery.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="site/assets/js/bootstrap-notify.js"></script>
    <script src="site/assets/js/material-dashboard.js?v=1.2.0"></script>
    <script src="https://www.gstatic.com/firebasejs/4.6.0/firebase.js"></script>
    <script src="site/assets/js/demo.js"></script>
    <script src="site/assets/js/main.js"></script>
    <script src="site/assets/js/firebase/db.js"></script>
    <script src="site/assets/js/jquery.validate.min.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


    <script>
        var mgrApp = {
            validate: function () {
                $("#form-add-app").validate({
                    // Rules for form validation
                    rules: {
                        name: {
                            required: true
                        }
                    },

                    // Messages for form validation
                    messages: {
                        name: {
                            required: "Vui lòng nhập tên app"
                        }
                    },

                    // Ajax form submition
                    submitHandler: function (form) {
                        return false;
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
                $("#form-add-build").validate({
                    // Rules for form validation
                    rules: {
                        name: {
                            required: true
                        },
                        url: {
                            required: true
                        },
						type:
						{
                            required: true
						}
                    },

                    // Messages for form validation
                    messages: {
                        name: {
                            required: "Vui lòng nhập tên build"
                        },
                        url: {
                            required: "Vui lòng nhập liên kết"
                        },
						type:
						{
                            required: "Vui lòng chọn loại build"
						}
                    },

                    // Ajax form submition
                    submitHandler: function (form) {
                        return false;
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            }
        }

        var app = angular.module("myApp", ["firebase"]);
        app.controller("myCtrl", function ($scope, $firebaseArray, $firebaseObject) {
			$scope.appId =getQueryString("id");

			$scope.getClass= (item)=>{
				if(item.type)
				{
					switch(item.type.id)
					{
						case 1:
							return "btn-success";
						case 2:
							return "btn-warnng";
						case 3:
							return "btn-primary";
						case 4:
							return "btn-info";
					break;
					}
				}
				return "btn-primary";
			}
			$scope.buildType = [
				{
					id: 1,
					label: "Android"
				},
				{
					id: 2,
					label: "IOS"
				},
				{
					id: 3,
					label: "Web"
				},
				{
					id: 4,
					label: "Service"
				}

			]
			$scope.viewApp = (app) => {
                window.history.pushState(null, "", "index.html?appId=" + app.id+"&state=3");
                $scope.app = app;
                $scope.listBuilds = [];
                $scope.state = 3;
                var listBuilds = firebase.database().ref("/project/list-build/app/" + app.id+"/builds");               
                $scope.listBuilds = $firebaseArray(listBuilds);
            }
			var _state = getQueryString("state");
			if(_state)
			{
				try{
					$scope.state=parseInt(_state);				
				}
				catch(e)
				{
					$scope.state=1;
				}
			}
			if(!$scope.state || $scope.state>3||$scope.state<=0)
				$scope.state = 1;				
			var appId =getQueryString("appId");
			if(appId)
			{
				$scope.app = $firebaseObject(firebase.database().ref('/project/list-build/app/' + appId));
				setTimeout(()=>{
								$scope.viewApp($scope.app);
				},2000);
			}

			$scope.getBuild=(list)=>{
			if(list)
				return 	Object.values(list);
				return [];
			}
            var listApp = firebase.database().ref("/project/list-build/app");
            // download the data into a local object
            $scope.listBuild = function () {
                $scope.state = 1;
				$scope.appId="";
				window.history.pushState(null, "", "index.html?state=1");
            }
            $scope.mgrApp = function () {
                $scope.state = 2;
				window.history.pushState(null, "", "index.html?state=2");
            }
            $scope.toDate = (milisecond) => {
                var date = new Date(milisecond);
                var monthNames = [
                    "1", "1", "2",
                    "4", "5", "6", "7",
                    "8", "9", "10",
                    "11", "12"
                ];

                var day = date.getDate();
                var monthIndex = date.getMonth();
                var year = date.getFullYear();
				var hour = date.getHours();
				var minute= date.getMinutes();
				var second = date.getSeconds();

                return day + '/' + monthNames[monthIndex] + '/' + year+ " "+hour+":"+minute+":"+second;
            }
            $scope.data = $firebaseArray(listApp);
            $scope.showModalAddApp = function () {
                $scope.temp_model = {
                  
                };
                $("#form-add-app label.error").remove();
                $("#modal-add-app").modal("show");
                mgrApp.validate();
            }
            $scope.createApp = function () {
                if ($("#form-add-app").valid()) {
                    if ($scope.temp_model.id != undefined) {
                        firebase.database().ref('/project/list-build/app/' + $scope.temp_model.id)
                            .update({ name: $scope.temp_model.name });
                        showNotification("Sửa tên app thành công", "success");
                        $("#modal-add-app").modal("hide");
                    } else {
                        var name = $("#txtName").val();                       
                        var id = md5(new Date().getTime() + name);
                        firebase.database().ref('/project/list-build/app/' + id).set({
                            name,
                            id
                        });
                        showNotification("Thêm app thành công", "success");
                        $("#modal-add-app").modal("hide");
                    }
                }
            };
            $scope.deleteApp = function (id) {
                firebase.database().ref('/project/list-build/app/' + id).remove();
            }
            $scope.editApp = function (item) {
                $("#form-add-app .label-floating").removeClass("is-empty");
                $scope.temp_model = JSON.parse(JSON.stringify(item));
                $("#form-add-app label.error").remove();
                $("#modal-add-app").modal("show");
            }
            
            $scope.showModalAddBuild = function () {
                $scope.temp_model = {
                    isActive: true,
					type: {id: 1, label: "Android"}
                };
                $("#form-add-build label.error").remove();
                $("#modal-add-build").modal("show");
                mgrApp.validate();
            }

            $scope.createBuild = function () {
                if ($("#form-add-build").valid()) {
					if(!$scope.temp_model.type)
					{
						showNotification("Vui lòng chọn loại build", "error");
						return;
					}
                    if ($scope.temp_model.id != undefined) {
                        firebase.database().ref('/project/list-build/app/' + $scope.app.id + "/builds/" + $scope.temp_model.id)
                            .update({
                                name: $scope.temp_model.name,
                                url: $scope.temp_model.url,
                                isActive: $scope.temp_model.isActive,
                                updatedDate: new Date().getTime(),
								type: $scope.temp_model.type
                            });
                        showNotification("Sửa build thành công", "success");
                        $("#modal-add-build").modal("hide");
                    } else {                        
                        var id = md5(new Date().getTime() + $scope.temp_model.name);
                        firebase.database().ref('/project/list-build/app/' + $scope.app.id + "/builds/" + id).set({
                            name: $scope.temp_model.name,
                            id,
                            url: $scope.temp_model.url,
                            isActive: $scope.temp_model.isActive,
                            updatedDate: new Date().getTime(),
							type: $scope.temp_model.type
                        });
                        showNotification("Thêm build thành công", "success");
                        $("#modal-add-build").modal("hide");
                    }
                }
            };
            $scope.deleteBuild = function (id) {
                firebase.database().ref('/project/list-build/app/' + $scope.app.id + "/builds/" + id).remove();
            }
            $scope.editBuild = function (item) {
                $("#form-add-build .label-floating").removeClass("is-empty");
                $scope.temp_model = JSON.parse(JSON.stringify(item));
                $("#form-add-build label.error").remove();
                $("#modal-add-build").modal("show");
            }
        });

    </script>
</body>
<!--   Core JS Files   -->
</html>